if deleteReview
  .model__deleteReview
    .model__deleteReview-overlay 
    .model__deleteReview-body
      h2.heading-secondary.ma-bt-lg Are you sure you want to delete your review ?
      form.form.model__deleteReview-form
        .form__group.model__deleteReview-btns
          button.model__deleteReview-btn-delete.btn.btn--green Delete
          button.model__deleteReview-btn-cancel.btn Cancel
if deleteUser
  .model__deleteUser
    .model__deleteUser-overlay 
    .model__deleteUser-body
      h2.heading-secondary.ma-bt-lg Are you sure you want to delete this user ?
      form.form.model__deleteUser-form
        .form__group.model__deleteUser-btns
          button.model__deleteUser-btn-delete.btn.btn--green Delete
          button.model__deleteUser-btn-cancel.btn Cancel